* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
/* hero section Start */
header {
  background-color: #f3fcf7;
  max-width: 1440px;
  margin-bottom: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 130px;
}
.logo {
  color: #06c167;
  font-size: 32px;
}
.nav_items {
  width: 600px;
  margin: top right;
  justify-content: space-evenly;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
nav ul li a:hover {
  background-color: red;
}
.menu-icon {
  display: none;
}
.Home {
  color: #06c167;
}
.food-title {
  display: flex;
}
.food-ditails {
  padding-left: 135px;
  margin-top: 115px;
}
.food-ditails h1 {
  width: 530px;
  font-size: 75px;
  font-weight: 600;
  margin-bottom: 10px;
}
.food-ditails p {
  width: 534px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
}
button {
  width: 200px;
  height: 60px;
  background-color: #06c167;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #06c167;
}

.hero_img {
  margin-top: 65px;
  margin-right: 157px;
  margin-left: 120px;
  gap: 127px;
}

/* hero section End */

/* Main Section Start  */

/* Partners Service start */
main {
  padding-left: 135px;
  padding-right: 135px;
}

.partner {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  width: 1200px;
}
/* .pr-15 {
  padding-right: 40px;
}
.pr-12 {
  padding-left: 40px;
} */

.service {
  width: 1170px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  display: flex;
  justify-content: space-between;
}
.service-items {
  width: 209px;
  height: 70px;
  margin-top: 27px;
  margin-bottom: 27px;
}
.services {
  display: flex;
}
.service-logo {
  width: 70px;
  height: 70px;
  background-color: #f3fcf7;
}
.service-logo i {
  color: #06c167;
  font-size: 32px;
  align-items: center;
  margin: 20px 20px;
}
.services-ditails {
  padding-left: 22px;
}
.services-ditails h3 {
  font-size: 17px;
  font-weight: 400;
  padding-top: 13px;
}
.services-ditails p {
  font-size: 11px;
  font-weight: 500;
  padding-top: 7px;
}
/* Partners Service End  */

/* benefit service Start  */
.benefit {
  width: 1138px;
  height: 560.26px;
  margin-top: 155px;
  margin-left: 24px;
  margin-right: 8px;
}
.our-benefit {
  display: flex;
}
.photos-benefit1 {
  border: 24px solid #f3fafb;
  border-radius: 24px;
  margin-right: 108px;
}
.benefit-ditails p {
  margin-top: 64px;
  font-size: 15px;
  margin-bottom: 21px;
}

.benefit-ditails h1 {
  width: 537px;
  font-size: 60px;
  font-weight: 60;
  margin-bottom: 70px;
}
.benefit-items {
  padding-top: 20px;
}
.benefit-items i {
  color: #06c167;
  font-size: 20px;
  margin-right: 22px;
}
/* benefit service End  */

/* star ditails Star */
.our-star {
  margin-top: 206px;
  display: flex;
}
.star-ditalis h1 {
  width: 570px;
  font-size: 60px;
  font-weight: 60;
  padding-top: 20px;
}
.feedbacks {
  display: flex;
  width: 500px;
}
.feedback {
  margin-top: 55px;
  margin-right: 80px;
  margin-bottom: 50px;
  width: 108px;
  height: 81px;
}
.feedback h1 {
  color: #06c167;
  margin-bottom: 15px;
  font-size: 40px;
  justify-content: center;
}
.feedback p {
  width: 140px;
}
.star-img {
  background-color: #f3fafb;
  width: 541px;
  height: 610px;
}
.star-img img {
  margin-left: 96px;
  width: 445px;
  height: 512px;
}
/* star ditails Star */

/* features start  */
.features {
  margin-top: 174px;
}
.features .feature-titles {
  text-align: center;
}
.features span {
  background-color: #f3fafb;
  color: #06c167;
  padding: 15px 24px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.features h1 {
  font-size: 60px;
  font-weight: 478;
  margin-top: 12px;
}
.veriety-food-items {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
.veriety-food-items .img {
  width: 292px;
  height: 292px;
  border: 1px solid #06c167;
}
.verity-ditails {
  background-color: #f3fcf7;
  width: 292px;
  height: 292px;
  padding-left: 24px;
  padding-top: 36px;
  padding-right: 24px;
  border: 1px solid #06c167;
}
.verity-ditails h2 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 26px;
}
.verity-ditails p {
  width: 210px;
}
.variety-button {
  background-color: #e6f9f0;
  color: #06c167;
  width: 148px;
  height: 41px;
  border: 1px solid #e6f9f0;
  border-radius: 0px;
}
/* features start  */

/* popular product start */
.popular-product {
  margin-top: 191px;
}
.most-popular h2 {
  font-size: 60px;
  font-weight: 500;
  margin-top: 20px;
}
.product-card {
  margin-top: 62px;
  display: flex;
}
.card {
  width: 270px;
  height: 444px;
  background-color: #ffffff;
  border: 1px solid #767675;
  text-align: center;
  border-radius: 20px;
  padding: 25px 40px;
}
.card:hover {
  border: 1px solid #06c167;
}
.card img {
  width: 190px;
  height: 190px;
}
.star {
  color: #06c167;
}
.card h3 {
  font-size: 20px;
  font-weight: 120;
}
.price .price1 {
  color: #767675;
  text-decoration: line-through;
}
.price .price2 {
  color: #06c167;
  font-size: 20px;
}
.product-buy {
  background-color: #ffffff;
  border: 1px solid #06c167;
  border-radius: 15px;
  width: 177px;
  height: 56px;
  color: #06c167;
}
.product-buy span {
  padding-right: 32px;
}
.pb-24 {
  padding-bottom: 24px;
}
.mr-30 {
  margin-right: 30px;
}
/* popular product End */
.suggesion {
  margin-top: 190px;
  height: 460px;
  background-image: url(./Photo/Food.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.suggesed {
  padding: 110px 190px 84px;
  text-align: center;
}
.suggesed h1 {
  color: #ffffff;
  font-size: 60px;
  width: 800px;
}
.bottom {
  width: 1440px;
  height: 432.38px;
  padding-left: 135px;
  padding-right: 135px;
}
.bottom-bar {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}
.pd-top {
  padding-top: 80px;
}
.font {
  /* font-size: 16px; */
  font-weight: 550;
}
.resturent h2 {
  font-size: 32px;
  color: #06c167;
  margin-bottom: 40px;
}
.resturent p {
  width: 284px;
  margin-bottom: 50px;
}
.icon .pr-100 {
  padding-right: 25px;
}
.about-us ul {
  list-style: none;
  padding-top: 40px;
}
.pb-space {
  padding-bottom: 15px;
}
.company ul {
  list-style: none;
  padding-top: 40px;
}
.email p {
  width: 338px;
  padding-top: 40px;
}
.email input {
  width: 205px;
  height: 50px;
  background-color: #f0f1ec;
  border: 1px solid transparent;
  border-radius: 12px;
  margin-right: 10px;
}
.email ::placeholder {
  padding-left: 20px;
}
.email button {
  width: 118px;
  height: 50px;
}
.copy {
  margin-top: 90px;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 375px) and (max-width: 576px) {
  body {
    max-width: 575px;
  }
  header {
    max-width: 575px;
    background-color: #f3fcf7;
    margin: 0 auto;
  }
  .navbar {
    padding: 0px;
  }
  .logo {
    margin: 24px 30px;
  }
  .navbar .logo {
    width: 120px;
    height: 39px;
  }
  .nav_items {
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 35px;
    color: #06c167;
    margin: 24px 30px;
  }
  .food-title {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 320px;
  }
  .food-ditails {
    padding-left: 0;
    margin-top: 0px;
    align-items: center;
    text-align: center;
  }
  .button {
    margin-top: 10px;
    height: 68px;
  }
  .button .special {
    width: 100%;
  }
  .hero_img img {
    padding-left: 30px;
  }
  main {
    padding-left: 0px;
  }
  .partner {
    max-width: 576px;
    height: 87px;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
  }
  .partner img {
    width: 123px;
    height: 29px;
  }
  .pr-1 {
    display: none;
  }
  .pr-16 {
    justify-content: center;
  }
  .service {
    max-width: 576px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .benefit {
    max-width: 576px;
    margin-top: 40px;
  }
  .our-benefit {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .benefit-ditails {
    margin-bottom: 50px;
    align-items: center;
  }

  .our-star {
    margin-top: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .star-ditalis p h1 {
    width: 350px;
  }
  .feedbacks {
    display: flex;
    flex-direction: column;
  }
  .feedback p {
  }
}
