* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
/* hero section Start */
header {
  background-color: #f3fcf7;
  max-width: 1440px;
  margin-bottom: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 135px;
}
.logo {
  color: #06c167;
  font-size: 32px;
}
.nav_items {
  width: 600px;
  margin: top right;
  justify-content: space-evenly;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 16px;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.Home {
  color: #06c167;
}
.food-title {
  display: flex;
}
.food-ditails {
  padding-left: 135px;
  margin-top: 115px;
}
.food-ditails h1 {
  width: 530px;
  font-size: 75px;
  font-weight: 600;
  margin-bottom: 10px;
}
.food-ditails p {
  width: 534px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
}
button {
  width: 200px;
  height: 60px;
  background-color: #06c167;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #06c167;
}

.hero_img {
  margin-top: 65px;
  margin-right: 157px;
  margin-left: 120px;
  gap: 127px;
}

/* hero section End */

/* Main Section Start  */

/* Partners Service start */
main {
  padding-left: 135px;
  padding-right: 135px;
}

.partner {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  width: 1200px;
}
/* .pr-15 {
  padding-right: 40px;
}
.pr-12 {
  padding-left: 40px;
} */

.service {
  width: 1170px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  display: flex;
  justify-content: space-between;
}
.service-items {
  width: 209px;
  height: 70px;
  margin-top: 27px;
  margin-bottom: 27px;
}
.services {
  display: flex;
}
.service-logo {
  width: 70px;
  height: 70px;
  background-color: #f3fcf7;
}
.service-logo i {
  color: #06c167;
  font-size: 32px;
  align-items: center;
  margin: 20px 20px;
}
.services-ditails {
  padding-left: 22px;
}
.services-ditails h3 {
  font-size: 17px;
  font-weight: 400;
  padding-top: 13px;
}
.services-ditails p {
  font-size: 11px;
  font-weight: 500;
  padding-top: 7px;
}
/* Partners Service End  */

/* benefit service Start  */
.benefit {
  width: 1138px;
  height: 560.26px;
  margin-top: 155px;
  margin-left: 24px;
  margin-right: 8px;
}
.our-benefit {
  display: flex;
}
.photos-benefit1 {
  border: 24px solid #f3fafb;
  border-radius: 24px;
  margin-right: 108px;
}
.benefit-ditails p {
  margin-top: 64px;
  font-size: 15px;
  margin-bottom: 21px;
}

.benefit-ditails h1 {
  width: 537px;
  font-size: 60px;
  font-weight: 60;
  margin-bottom: 70px;
}
.benefit-items {
  padding-top: 20px;
}
.benefit-items i {
  color: #06c167;
  font-size: 20px;
  margin-right: 22px;
}
/* benefit service End  */

/* star ditails Star */
.our-star {
  margin-top: 206px;
  display: flex;
}
.star-ditalis h1 {
  width: 570px;
  font-size: 60px;
  font-weight: 60;
  padding-top: 20px;
}
.feedbacks {
  display: flex;
  width: 500px;
}
.feedback {
  margin-top: 55px;
  margin-right: 80px;
  margin-bottom: 50px;
  width: 108px;
  height: 81px;
}
.feedback h1 {
  color: #06c167;
  margin-bottom: 15px;
  font-size: 40px;
  justify-content: center;
}
.feedback p {
  width: 140px;
}
.star-img {
  background-color: #f3fafb;
  width: 541px;
  height: 610px;
}
.star-img img {
  margin-left: 96px;
  width: 445px;
  height: 512px;
}
/* star ditails Star */

/* features start  */
.features {
  margin-top: 174px;
}
.features .feature-titles {
  text-align: center;
}
.features span {
  background-color: #f3fafb;
  color: #06c167;
  padding: 15px 24px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.features h1 {
  font-size: 60px;
  font-weight: 478;
  margin-top: 12px;
}
.veriety-food-items {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
.veriety-food-items .img {
  width: 292px;
  height: 292px;
  border: 1px solid #06c167;
}
.verity-ditails {
  background-color: #f3fcf7;
  width: 292px;
  height: 292px;
  padding-left: 24px;
  padding-top: 36px;
  padding-right: 24px;
  border: 1px solid #06c167;
}
.verity-ditails h2 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 26px;
}
.verity-ditails p {
  width: 210px;
}
.variety-button {
  background-color: #e6f9f0;
  color: #06c167;
  width: 148px;
  height: 41px;
  border: 1px solid #e6f9f0;
  border-radius: 0px;
}
/* features start  */

.popular-product {
  margin-top: 191px;
}
.most-popular h2 {
  font-size: 60px;
  font-weight: 500;
  margin-top: 20px;
}
.product-card {
  margin-top: 62px;
  display: flex;
}
.card {
  width: 270px;
  height: 444px;
  background-color: #ffffff;
  border: 1px solid #767675;
  text-align: center;
  border-radius: 20px;
  padding: 25px 40px;
}
.card:hover {
  border: 1px solid #06c167;
}
.card img {
  width: 190px;
  height: 190px;
}
.star {
  color: #06c167;
}
.card h3 {
  font-size: 20px;
  font-weight: 120;
}
.price .price1 {
  color: #767675;
  text-decoration: line-through;
}
.price .price2 {
  color: #06c167;
  font-size: 20px;
}
.product-buy {
  background-color: #ffffff;
  border: 1px solid #06c167;
  border-radius: 15px;
  width: 177px;
  height: 56px;
  color: #06c167;
}
.product-buy span {
  padding-right: 32px;
}
.pb-24 {
  padding-bottom: 24px;
}
.mr-30 {
  margin-right: 30px;
}
