* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
/* hero section Start */
header {
  background-color: #f3fcf7;
  max-width: 1440px;
  margin-bottom: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 135px;
}
.logo {
  color: #06c167;
  font-size: 32px;
}
.nav_items {
  width: 600px;
  margin: top right;
  justify-content: space-evenly;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 16px;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.Home {
  color: #06c167;
}
.food-title {
  display: flex;
}
.food-ditails {
  padding-left: 135px;
  margin-top: 115px;
}
.food-ditails h1 {
  width: 530px;
  font-size: 75px;
  font-weight: 600;
  margin-bottom: 10px;
}
.food-ditails p {
  width: 534px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
}
button {
  width: 200px;
  height: 60px;
  background-color: #06c167;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #06c167;
}
.button i {
}
.hero_img {
  margin-top: 65px;
  margin-right: 157px;
  margin-left: 120px;
  gap: 127px;
}

/* hero section End */

/* Main Section Start  */

/* Partners Service start */
main {
  padding-left: 135px;
  padding-right: 135px;
}

.partner {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  width: 1200px;
}
/* .pr-15 {
  padding-right: 40px;
}
.pr-12 {
  padding-left: 40px;
} */

.service {
  width: 1170px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  display: flex;
  justify-content: space-between;
}
.service-items{
  width: 209px;
  height: 70px;
  margin-top: 27px;
  margin-bottom: 27px;
}
.services {
  display: flex;
}
.service-logo {
  width: 70px;
  height: 70px;
  background-color: #f3fcf7;
}
.service-logo i{
  color: #06C167;
  font-size: 32px;
  align-items: center;
  margin:20px 20px;
}
.services-ditails {
    padding-left: 22px;
}
.services-ditails h3 {
  font-size: 17px;
  font-weight: 400;
  padding-top: 13px;
}
.services-ditails p {
  font-size: 11px;
  font-weight: 500;
  padding-top: 7px;
}
